/* Plugin Discussants */

.DiscussantsContainer img {
	margin-right: 1px;
}
.DiscussantsContainer img {
	/* height: 20px;
	width: 20px; */
}
.DiscussantsFirst {
	margin-right: 4px;
}

.DiscussantsLast {
	margin-left: 3px;
}

.Discussants0 img {
	height: 20px;
	width:  20px;
}
.Discussants1 img {
	height: 21px;
	width:  21px;
}
.Discussants2 img {
	height: 22px;
	width:  22px;
}
.Discussants3 img {
	height: 23px;
	width:  23px;
}
.Discussants4 img {
	height: 24px;
	width:  24px;
}
.Discussants5 img {
	height: 25px;
	width:  25px;
}
.Discussants6 img {
	height: 26px;
	width:  26px;
}
.Discussants7 img {
	height: 27px;
	width:  27px;
}
.Discussants8 img {
	height: 28px;
	width:  28px;
}
.Discussants9 img {
	height: 29px;
	width:  29px;
}
.Discussants10 img {
	height: 30px;
	width:  30px;
}

.DiscussantsPlaceholder {
	height: 30px;
	width:  30px;
	margin-left: 3px;
	margin-right: 4px;
}

.DiscussantsHidden {
	width: 50px;
	display: inline;
}