/* Plugin Discussants */
.DiscussantsContainer img {
  margin-right: 1px;
}
.DiscussantsContainer img {
	height: 25px;
	width: 25px;
    vertical-align: middle;
}
.DiscussantsFirst {
	margin-right: 4px;
}

.DiscussantsLast {
	margin-left: 3px;
}

.Discussants0 img {
	opacity:0.1;
	filter:alpha(opacity=10);
}
.Discussants1 img {
	opacity:0.19;
	filter:alpha(opacity=19);
}
.Discussants2 img {
	opacity:0.28;
	filter:alpha(opacity=28);
}
.Discussants3 img {
	opacity:0.37;
	filter:alpha(opacity=37);
}
.Discussants4 img {
	opacity:0.46;
	filter:alpha(opacity=46);
}
.Discussants5 img {
	opacity:0.55;
	filter:alpha(opacity=55);
}
.Discussants6 img {
	opacity:0.64;
	filter:alpha(opacity=64);
}
.Discussants7 img {
	opacity:0.73;
	filter:alpha(opacity=73);
}
.Discussants8 img {
	opacity:0.82;
	filter:alpha(opacity=82);
}
.Discussants9 img {
	opacity:0.91;
	filter:alpha(opacity=91);
}
.Discussants10 img {
	opacity:1;
	filter:alpha(opacity=100);
 }

.DiscussantsPlaceholder {
	height: 30px;
	width:  30px;
	margin-left: 3px;
	margin-right: 4px;
}

.DiscussantsHidden {
	width: 50px;
	display: inline;
}

.DiscussantsContainer .HoverHelp .Help {
  display: none;
}
